<head>
    <!-- Meta tags -->
    <meta charset="UTF-8">
    <meta name="description" content="{{$.Site.Data.config.description}}">
    <title>{{ if .Title }}{{ .Title }}{{ else }}{{ $.Site.Data.config.page_title }}{{ end }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="/icon.png" />

    <!-- CSS Stylesheets and Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Source+Sans+Pro:wght@400;700&family=Fira+Code:wght@400;700&display=swap" rel="stylesheet">
    {{ $css := slice "custom.scss" "base.scss" "darkmode.scss" "syntax.scss"}}
    {{range $css}}
    {{$sass := resources.Get . | resources.ToCSS }}
    {{with $sass | minify}}
    {{ template "_internal/google_analytics.html" . }}
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-29B6KQXED7"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-29B6KQXED7');
</script>
    <style>
        {{.Content | safeCSS}}
    </style>
    {{end}}
    {{end}}
</head>
